@media (min-width:363px) and (max-width:392px) {
    body{
        font-size: 11px;
    }
    .wynk_logo{
        width: 40%;
    }
    .gap{
        margin-inline: 15.5rem;

    }
    .navbar1{
           width: 100%;
           font-size: 0.9rem;
           
    }
    .wynk{
        width: 120px;
        font-size: 12px;
    }
    .searchbar{
        position: relative;
        right: 439px;
        width: 40%;
        /* padding-left: -30%;  */
    }
    .left_bar{
        justify-content: start;
        margin-left: 2%;
    }
    .navbar2{
        justify-content: start;
        font-size: 0.65rem;
    }
    .heading1{
        margin-inline: 1.4rem;
    }
    .leftlogoname{
        font-size: 0.55rem;
    }

    .container2{
        margin-left: 10%;
    }
    .heading{
        font-weight: 900;
        font-size: 1.25rem;
    }
    .containera{
        margin-top: 28%;
        margin-left: 2%;
    }
    .first{
        width: 120%;
    }

    .header{
        display: flex;
        margin-top: 16px;
        
    }
    
    .header1a{
        margin-right: 7%;
        font-size: 0.55rem;
        
    }
    .header1b{
        margin-right:8%;
        font-size: 0.55rem;
    }
    .header1c{
        margin-right: 9%;
        font-size: 0.55rem;
    }
    .header1d{
        margin-right: 10%;
        font-size: 0.55rem;
    }     
    .header1e{
        margin-right: 12%;
        font-size: 0.55rem;
    }      
    .list1b{
        margin-right: 10%;

    }
    .list1c{
        margin-left: 1%;
    }
    .list1d{
        margin-right: 1%;
    }
    .list1e{
        margin-right: 1%;
    }
    .list{
        width: 100%;
        font-size: 0.45rem;
    }
    .containerb{
        bottom: 156px;
    }
    .line{
        bottom: 255px;
    }
    #line1{
        bottom: 256px;
    }
    .time{
        padding-left: 13%;
    }
    .playdet{
        font-size: 0.5rem;
    }
    .playname{
        font-size: 0.55rem;
    }
    .playlogo{
        margin-left: 3%;
        width: 8%;
        height: 6vh;
    }
    .playbars{
        width: 100%;
        height: 3vh;
    }
    .pause{
        width: 100%;
        height: 3vh;
    }
    #starttime{
        font-size: 9px;
    }
    #endtime{
        font-size: 9px;
    }
    .timeline{
        font-size: 9px;
    }
    #buttons{
        width: 38%;
        height: 0vh;

    }
    .texts{
        font-size: 8px;
        position: relative;
        bottom: 4px;
        width: 220px;
    }
    .plays{
        width: 80%;
        position: relative;
        bottom: 7px;
        right: 2px;
    }
}